# Variables de entorno para conectar el backend a la base de datos
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=

# Variables de entorno para el servidor backend
SERVER_PORT=

# Variable de entorno para el servidor API del frontend
NODE_ENV=

# Variables de entorno para el contenedor de base de datos
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=